
.item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-left: 2px solid transparent;
    border-bottom: 1px solid var(--gray-color-light);
    transition: all .3s ease-in-out;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    padding: 0 16px;
}

.active {
    border-left-color: var(--secondary-color);
    box-shadow: 0px 6px 16px rgba(149, 136, 247, 0.3);
    border-radius: 0px 8px 8px 0px;
}

.item:hover {
    border-left-color: var(--secondary-color);
    padding-left: 16px;
    box-shadow: 0px 6px 16px rgba(149, 136, 247, 0.3);
    border-radius: 0px 8px 8px 0px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.active .icon {
    color: var(--secondary-color);
}
@media (max-width: 1000px) {
    .nav {
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-bottom: 8px;
    }
}
