.card {
    border-radius: 15px;
    padding: 40px 56px;
}
.name {
    font-weight: 600;
    font-size: 22px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rate {
    display: flex;
    align-items: baseline;
    gap: 8px;
}
.stars {
    display: flex;
    align-items: center;
    gap: 5px;
}
.card p:last-child {
    margin-top: 22px;
}
.mark {
    color: var(--secondary-color);
    font-weight: 600;
}

.navigator {
    position: absolute;
    top: 40%;
    right: -5%;
    background: var(--text-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 6px 16px rgba(149, 136, 247, 0.3);
    transition: none;
}
.prev {
    transform: rotate(180deg);
    transition: none;
}
.text {
    margin: 8px 0 22px 0;
}
@media (max-width: 1100px) {
    .navigator {
        display: none;
    }
}
@media (max-width: 684px) {
    .navigator {
        display: none;
    }
    .card {
        padding: 16px 24px;
    }
}
