.order {
    background-color: var(--purple-dark);
}
.title {

    color: var(--text-color-light);
}
.header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 0 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.url {
    color: var(--medium-gray);
}
.pink {
    color: var(--secondary-color);
}

.content p {
    margin-top: 16px;
    color: var(--text-color-light);
}
