:root {
  --max-width: 1280px;
  --primary-color: #F93FBA;
  --secondary-color: #FF7DB1;
  --primary-light-color: #A798E7;
  --primary-extra-light-color: #F6F4FF;
  --purple-dark: #171032;
  --text-color-light: #FFFFFF;
  --gray-color-light: #F9F8FF;
  --medium-gray: #B0ABC0;
  --header-height: 80px;
  --light-purple: #ECE9F8;
  --mid-purple: #7852E4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--text-color-light);
  margin: 0;
  padding: 0;
  color: var(--purple-dark);
  font-size: 16px;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: calc(var(--max-width) + 15px);
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform .2s ease-out;
}
button:hover {
  transform: translateY(-3%);
}
button:active {
  transform: scale(1.1);
}

a {
  color: inherit;
  text-decoration: none;
}
.card {
  background: #FFFFFF;
  box-shadow: 0px 6px 34px rgba(87, 64, 183, 0.1);
  border-radius: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
h2 {
  font-size: 22px;
  font-weight: 700;
  color: var(--purple-dark);
}
h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--purple-dark);
}
@media (max-width: 1130px) {
 h1 {
   font-size: 32px;
 }
}

.close-btn  {
  color: #000000;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(149, 136, 247, 0.3);
  border-radius: 15px;
  padding: 24px;
}
