.type {
    border: 2px solid #ECE9F8;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    height: 125px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    transition: all .2s ease-in-out;
    background: #FFFFFF;
}

.type:hover {
    transform: translateY(-5%);
}
.type:active {
    transform: scale(0.8);
}

.badges {
    display: flex;
    gap: 4px;
}

.radio {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #ECE9F8;
    border-radius: 50%;
    transition: all .2s ease-in;
}

.selected .radio {
    background: #7852E4;
    border-width: 4px;
}

.selected {
    color: #7852E4;
}

.title {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}
.horizontal {
    flex-direction: row;
    width: 100%;
    height: auto;
}
@media (max-width: 1240px) {
    .type {
        width: 100%;
        height: unset;
        flex-direction: row;
    }
}
