.footer {
    background-color: var(--purple-dark);
    padding: 48px 0;
}
.links {
    color: var(--text-color-light);
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.links li {
    margin-bottom: 16px;
}
.nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 0 48px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    grid-column-gap: 150px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-self: flex-end;
}
.contacts a {
    color: var(--text-color-light)
}
.contacts span {
    color: var(--secondary-color);
}
.contacts button {
}
.help {
    display: flex;
    align-items: center;
    gap: 16px;
}
.bottom {
    padding: 48px 0 0 0;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-size: 14px;
}
@media (max-width: 1310px) {
    .nav {
        grid-column-gap: 90px;
    }
}

@media (max-width: 970px) {
    .nav {
        grid-column-gap: 16px;
    }
}
@media (max-width: 800px) {
    .nav {
        grid-template-columns: 1fr;
    }
    .links {
        flex-direction: column;
        gap: 0;
    }
    .contacts {
        padding: 56px 0 0 0;
        justify-self: flex-start;
    }
}
